<h1>Profile</h1>
<%= @profile.firstname %>
<%= @profile.lastname %><br>
<%= @profile.age %><br>
<%= @profile.gender %><br>
<img src ="<%=@profile.image%>" width="400px"><br>
<a href="/users/<%= @current_user.profile.id %>/edit">Edit profile</a><br>

<a href="/">Back</a>