<% @profile.each do |profile| %>
	<%= profile['firstname'] %>
	<%= profile['lastname'] %><br>
	<%= profile['age'] %>
	<%= profile['gender'] %><br>
	<img src="<%= profile.image %>" width="50px" >

<% end %>
<a href="/">Back</a>
